################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurkerAyan/Odev_A_2/ank15Kutuphane/.vs/ank15Kutuphane/FileContentIndex
