################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnesOzturk/EnesOzturk/.vs/EnesOzturk/FileContentIndex
