################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TurkerAyan/Odev_A_2/ank15Kutuphane/.vs/ank15Kutuphane/FileContentIndex
/.vs/ANK15/FileContentIndex/0384912c-1831-456f-9ef8-b2fcd01cc644.vsidx
