@{
    <h1>
        Message ViewBag : <span class="text-danger font-bold ">@ViewBag.SiteMsgIndex3</span>
    </h1>
    <h1>
        Message ViewData : <span class="text-warning font-bold ">@ViewData["SiteMsg3"]</span>
    </h1>

}
