@{

}

<write></write>
<br />
<google>Google</google>
<br />
<kontrol number="21"></kontrol>
<br />
<kontrol number="22"></kontrol>
<br />
<big-famous text="Edirne"></big-famous>
<div>
    @Model
</div>
