@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <form>
        <div class="form-group mb-2">
            <label class="form-label" >Isim Giriniz</label>
            <input class="form-control" id="OgrenciId" required type="number" />
        </div>
        <button class="btn btn-success" type="button" id="successBtn">Onayla</button>
    </form>
</div>
<div class="index-2">

</div>

@section Scripts{
    <script src="./js/ajaxCustom.js" ></script>
};